body {
  margin: 40px;
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;

}

h1 {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-rows: 1fr 4fr;
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #007f5f;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
    }

    .a {
      grid-column: 2 / 2;
      grid-row: 1 / 1;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .navbar {
      width: 100%;
      background-color: #007f5f ;
      overflow: auto;
    }

    .navbar a {
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      display: flex;
      justify-content: space-between;
    }

    .navbar a:hover {
      background-color: #000;
    }

    .fa-search {
      width: 10px;
    }

    .hamburger-button {
      height: 45px;
      width: 45px;
      border: none;
      border-radius: 5px;
      background-color: none;
      align-items: center;
    }

    .hamburger-menu-icon {
      height: 30px;
      width: 30px
    }

    .search-bar {
      display: flex;
      padding-left: 25px;
      flex-direction: row;
      align-items: flex-start;
    }

    .search-input {
      width: 250px;
      height: 30px;
    }

    .b {
        grid-column: 4 / 3;
        grid-row: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .welcome-bar {
      grid-column: 1 / 1;
      grid-row:  1;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .l {
      grid-column: 3/ 4;
      grid-row: 1;
    }

    .c {
        grid-column: 2;
    }

    .d {
        grid-column: 2 /  4 ;
        grid-row: 2;
        display: grid;
          grid-gap: 10px;
          grid-template-columns: repeat(3, 33%);
          grid-template-rows: 1fr 1fr;
      }

    .sidebar {
        grid-column: 1 / 2;
        grid-row:  1 / 4;
    }

    .f {
       grid-column: 3 / 3;
       grid-row: 1;
           display: flex;
           justify-content: center;
           align-items: center;
    }

    .g {
       grid-column: 2 / 1;
       grid-row:  2 / 2;
       display: flex;
       justify-content: center;
       align-items: center;
    }

    .h {
      grid-column:  2 / 2;
      grid-row: row 2 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .i {
      grid-column: 3 / 3;
      grid-row: 2 / 3;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .j {
      grid-column: 2 / 3;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .k {
      grid-column: 1 / 2;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .l {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    }

    .dropbtn {
      background-color: #4CAF50;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
